*.pyc
.idea
SCLPsolver/tests/data
SCLPsolver/tests/subproblem
SCLPsolver_old/tests/data
SCLPsolver_old/tests/subproblem
SCLPsolver/venv
venv
SCLPsolver/doe/cplex_integration/bin
SCLPsolver/doe/cplex_integration/env1
SCLPsolver/doe/cplex_integration/lib
SCLPsolver/doe/cplex_integration/include
build
*.so
*.c
*.cpp
.DS_Store
/SCLPsolver/SCLP_[0-9]*_param_line.dat
/SCLPsolver/SCLP_[0-9]*_solution.dat